

<section class="section1">
    <br>
    <div class="row">
        <div class="col-xxl" >
            <img 
            src="images/img1.png"
            class="img" 
            style="max-height: 60vh;max-width: 60vh;"
            alt="Cinque Terre"
            >
        </div>
        <div class="col-xxl ">
            <br>
            <h2>قلم نسرين القانوني</h2>
            <div class="w-50 section1-hr h-auto">.</div>
            <p style="text-align: right !important;">
                
                Our online marketing courses provide the knowledge and skills you need to succeed in today's 
                competitive business landscape.
            </p>
        </div>
    </div>
    <br>
</section>

<% if (email == "null") { %>
 

    <section class="section2">
        <br>
        <h2>خدماتنا</h2>
        <div class="w-50 section2-hr h-auto">.</div>
        <div class="row">

            <div class="col">
                <div class="card1">
                    <img class="card1-img" src="images/img3.png" alt="Card image" >
                    <span class="card1-title">
                        تصفح الاسىلة
                    </span>
                    <p class="card1-p">
                        وصف الخدمة
                        وصف الخدمة
                        وصف الخدمة
                    </p>
                    <br>
                    <a href="/ques"><button type="button" class="card1-button1">تصفح!</button></a>
                </div>
            </div>
            <div class="col">
                <div class="card1">
                    <img class="card1-img" src="images/img2.png" alt="Card image" >
                    <span class="card1-title">
                        سؤال و جواب
                    </span>
                    <p class="card1-p">
                        وصف الخدمة
                        وصف الخدمة
                        وصف الخدمة
                    </p>
                    <br>
                    <a href="/login"><button type="button" class="card1-button1">اطلب الخدمة</button></a>
                </div>
            </div>
            <div class="col">
                <div class="card1">
                    <img class="card1-img" src="images/img5.png" alt="Card image" >
                    <span class="card1-title">
                        تصفح المقالات
                    </span>
                    <p class="card1-p">
                        وصف الخدمة
                        وصف الخدمة
                        وصف الخدمة
                    </p>
                    <br>
                    <a href="/posts"><button type="button" class="card1-button1">تصفح!</button></a>
                </div>
            </div>
        </div>


        <br>
        <br>
        <br>
    </section>
<% }else { %>



    <section class="section2">
        <br>
        <h2>خدماتنا</h2>
        <div class="w-50 section2-hr h-auto">.</div>
        <div class="row">

            <div class="col">
                <div class="card1">
                    <img class="card1-img" src="images/img3.png" alt="Card image" >
                    <span class="card1-title">
                        تصفح الاسىلة
                    </span>
                    <p class="card1-p">
                        وصف الخدمة
                        وصف الخدمة
                        وصف الخدمة
                    </p>
                    <br>
                    <a href="/ques"><button type="button" class="card1-button1">تصفح!</button></a>
                </div>
            </div>
            <div class="col">
                <div class="card1">
                    <img class="card1-img" src="images/img2.png" alt="Card image" >
                    <span class="card1-title">
                        سؤال و جواب
                    </span>
                    <p class="card1-p">
                        وصف الخدمة
                        وصف الخدمة
                        وصف الخدمة
                    </p>
                    <br>
                    <a href="/ask"><button type="button" class="card1-button1">اطلب الخدمة</button></a>
                </div>
            </div>
            <div class="col">
                <div class="card1">
                    <img class="card1-img" src="images/img5.png" alt="Card image" >
                    <span class="card1-title">
                        تصفح المقالات
                    </span>
                    <p class="card1-p">
                        وصف الخدمة
                        وصف الخدمة
                        وصف الخدمة
                    </p>
                    <br>
                    <a href="/posts"><button type="button" class="card1-button1">تصفح!</button></a>
                </div>
            </div>
        </div>


        <br>
        <br>
        <br>
    </section>

<% } %>


<section class="section3">
    <br>
    <div class="row">
        <div class="col-xxl ">
            <br>
            <h2>قلم نسرين القانوني</h2>
            <div class="w-50 section3-hr h-auto">.</div>
            <p>
                
Our online marketing courses provide the knowledge and skills you need to succeed in today's 
competitive business landscape.
            </p>
        </div>
        <div class="col-xxl">
            <img 
            src="images/img6.png"
            class="img" 
            alt="Cinque Terre"
            >
        </div>
    </div>
    <br>
</section>
