
        
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<section class="section1">
    <br>
    <div class="row">
        <div class="col-xxl ">
            <img 
            src="images/img1.webp"
            class="img" 
            style="max-height: 60vh;max-width: 60vh;"
            alt="Cinque Terre"
            >
            <br>
            <br>
            <h4 style="text-align: right !important;text-align: center !important;">
                منصة قانونية لطلاب الحقوق تقدم مساعدات قانونية بسيطة - استشارات - مقالات تثقيفية تجعلك جاهز و مستعد لكل تحد قانوني
            </h4>
        </div>
    </div>
    <br>
</section>

<% if (email == "null") { %>
 

    <section class="section2">
        <br>
        <h2>خدماتنا</h2>
        <div class="w-50 section2-hr h-auto">.</div>
        <div class="row">

            <div class="col">
                <div class="card1">
                    <img class="card1-img" src="images/img3.webp" alt="Card image" >
                    <span class="card1-title">
                        تصفح الاسىلة
                    </span>
                    <p class="card1-p">
                        تصفح جميع الاسئلة القانونية
                    </p>
                    <br>
                    <a href="/ques"><button type="button" class="card1-button1">تصفح!</button></a>
                </div>
            </div>
            <div class="col">
                <div class="card1">
                    <img class="card1-img" src="images/img2.webp" alt="Card image" >
                    <span class="card1-title">
                        سؤال و جواب
                    </span>
                    <p class="card1-p">
                        قانوني شرعي
                    </p>
                    <br>
                    <a href="/login"><button type="button" class="card1-button1">اطلب الخدمة</button></a>
                </div>
            </div>
            <div class="col">
                <div class="card1">
                    <img class="card1-img" src="images/img5.webp" alt="Card image" >
                    <span class="card1-title">
                        تصفح المقالات
                    </span>
                    <p class="card1-p">
                        مقالات مبسطة تشرح المفاهيم
                    </p>
                    <br>
                    <a href="/posts"><button type="button" class="card1-button1">تصفح!</button></a>
                </div>
            </div>
        </div>


        <br>
        <br>
        <br>
    </section>
<% }else { %>



    <section class="section2">
        <br>
        <h2>خدماتنا</h2>
        <div class="w-50 section2-hr h-auto">.</div>
        <div class="row">

            <div class="col">
                <div class="card1">
                    <img class="card1-img" src="images/img3.webp" alt="Card image" >
                    <span class="card1-title">
                        تصفح الاسىلة
                    </span>
                    <p class="card1-p">
                        تصفح جميع الاسئلة القانونية
                    </p>
                    <br>
                    <a href="/ques"><button type="button" class="card1-button1">تصفح!</button></a>
                </div>
            </div>
            <div class="col">
                <div class="card1">
                    <img class="card1-img" src="images/img2.webp" alt="Card image" >
                    <span class="card1-title">
                        سؤال و جواب
                    </span>
                    <p class="card1-p">
                        قانوني شرعي
                    </p>
                    <br>
                    <a href="/ask"><button type="button" class="card1-button1">اطلب الخدمة</button></a>
                </div>
            </div>
            <div class="col">
                <div class="card1">
                    <img class="card1-img" src="images/img5.webp" alt="Card image" >
                    <span class="card1-title">
                        تصفح المقالات
                    </span>
                    <p class="card1-p">
                        مقالات مبسطة تشرح المفاهيم
                    </p>
                    <br>
                    <a href="/posts"><button type="button" class="card1-button1">تصفح!</button></a>
                </div>
            </div>
        </div>


        <br>
        <br>
        <br>
    </section>

<% } %>



<div id="textCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
    <div class="carousel-inner">
        <% posts.forEach((element,index) => { %>

            
            <div class="carousel-item active"><div class="d-flex justify-content-center align-items-center" style="background-color:#f8f9fa; padding: 20px;min-height: 400px;max-height: 600px;overflow-y: hidden;">

                    <div class="post" style="margin-left: 5vw;margin-right: 5vw;">
                        <!-- <div class="publisher">
                            <img src="logo.webp" alt="" style="width:30px;background-color: #ffffff;" class="rounded-pill">
                            User123 <span class="verified"><i class="far fa-check-circle"></i></span>
                        </div> -->
                        <br>
                        <h2><%= element.title %></h2>
                        <%-element.text %>
                        <br>
                        
                        <u><a href="https:/\/nesrenlaw.com/posts/<%= element.id %>">اكمل القراءة ←</a></u>
                        <br>
                    </div>
                </div>
            </div>
            
        <% }) %>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#textCarousel" data-bs-slide="prev">
        <i class=" carousel-control-icon" style="font-size: 5rem; color: var(--color3) !important;"><span class="glyphicon glyphicon-chevron-left"></span></i>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#textCarousel" data-bs-slide="next">
        <i class="carousel-control-icon" style="font-size: 5rem; color: var(--color3) !important;"><span class="glyphicon glyphicon-chevron-right"></span></i>
    </button>

    
    <br>
    <a href="/posts"><button type="button" class="card1-button1" style="border-radius: 20px;">تصفح جميع المقالات!</button></a>
    <br>
    <br>
    <br>
</div>

<section class="section3">
    <br>
    <div class="row">
        <div class="col-xxl ">
            <br>
            <h2>لمحة مختصرة</h2>
            <div class="w-50 section3-hr h-auto">.</div>
            <p>
                تم انشاء هذا الموقع لدعم طلاب الحقوق و مشاركة خبراتنا وحل مشاكلنا القانونيا معا!
            </p>
        </div>
        <div class="col-xxl">
            <img 
            src="images/img6.webp"
            class="img" 
            alt="Cinque Terre"
            >
        </div>
    </div>
    <br>
</section>
