
        <link rel="stylesheet" href="css/main.css">
<section class="footer">
    <span class="footer-title">2025 قلم نسرين القانوني - جميع الحقوق محفوظة<span><br>
    <hr class="footer-hr">
    <div class="footer-btn-group">
        <a target="_blank" href="https://www.instagram.com/nesren_law?utm_source=qr&igsh=MTM0djlpY3VlaW9s"><div class="footer-btn nav-item">انستقرام</div></a>
        <a target="_blank" href="https://youtube.com/channel/UCtV9hT5Up3aR8SweNRpCprw?si=sCIOeTPZVnJKdG08"><div class="footer-btn nav-item">يوتيوب</div></a>
        <a target="_blank" href="https://www.facebook.com/share/1GBu57untP"><div class="footer-btn nav-item">فيسبوك</div></a>
    </div>
    <br>
    <a href="https://fawazalhalabi.com"><div class="footer-btn nav-item">@طور هذا الموقع من قبل فواز الحلبي</div></a>
</section>