
        <link rel="stylesheet" href="css/main.css">
<section class="footer">
    <span class="footer-title">2025 قلم نسرين القانوني - جميع الحقوق محفوظة<span><br>
    <hr class="footer-hr">
    <div class="footer-btn-group">
        <div class="footer-btn nav-item">الصفحة الرئيسية</div>
        <div class="footer-btn nav-item">الخدمات</div>
        <div class="footer-btn nav-item ">المقالات</div>
        <div class="footer-btn nav-item">تواصل معنا</div>
    </div>
    <br>
    <a href="https://fawazalhalabi.com"><div class="footer-btn nav-item">@طور هذا الموقع من قبل فواز الحلبي</div></a>
</section>