
<nav class="navbar navbar-expand-sm bg-dark navBarHere">
    <div class="container-fluid">
        <a href="/"><img src="images/logo.webp" alt="" style="height: 3em !important;border-radius: 100%;margin-left: 20px;" class=""></a>
        <a href="/"><h1>قلم نسرين القانوني</h1></a>
        
        


        
    <!-- Toggler button (mobile menu button) -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">الصفحة الرئيسية</a>
            </li>
            <li class="nav-item">
                <br>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/me" style="font-size: larger;"><%= name %></a>
            </li>
            <li class="nav-item">
                <a href="/me"><img src="<%= picture %>" alt="" style="height: 3em !important;border-radius: 100%;" class=""></a>
            </li>
        </ul>
        </div>
    </div>
</nav>