
<nav class="navbar navbar-expand-sm bg-dark navBarHere" style="border-radius: 0;">
    <div class="container-fluid">
            <a href="/">
                <img src="images/logo.webp" alt="" style="height: 3em !important;border-radius: 100%;margin-left: 20px;display: inline-block;" class="">
                <h1 style="display: inline-block;">قلم نسرين القانوني</h1>
            </a>
            <div data-bs-toggle="offcanvas" data-bs-target="#mainOfcanvas">
                
                <div class="icon-menu1">
                    <img src="images/icons8-menu-100.png" style="font-size: x-large;overflow: hidden;" class="icon-menu1">
                </div>
            </div>
            <style>
                .icon-menu1{
                    
                    color:var(--color2);
                    cursor: pointer;
                    overflow: hidden;
                    width: 60px;
                    height: 60px;
                    display: none;
                }
                .icon-menu1:hover{
                    border-radius: 0;
                    color: var(--color5);
                }
                @media (max-width: 575px) {
                    .icon-menu1{

                        display: inline-block;
                    }
                }
            </style>


        
    <!-- Toggler button (mobile menu button) -->
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
    </button> -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <br>
                </li>
                <% if(typeof name !== 'undefined' && typeof picture !== 'undefined' && typeof email !== 'undefined'){ %>
                    <% if(name != "null" && picture  != "null" && email != "null"){ %>
                        <li class="nav-item">
                            <a class="nav-link" href="/me" style="font-size: x-large;margin-top: 6px;"><%= name %></a>
                        </li>
                        <li class="nav-item">
                            <a href="/me"><img src="<%= picture %>" alt="" style="height: 3em !important;border-radius: 100%;margin-left: 20px;margin-top: 10px;" class=""></a>
                        </li>
                    <% } %>
                <% }else { %>
                    <li class="nav-item">
                        <a class="nav-link" style="font-size: x-large;margin-top: 5px;margin-left: 10px;" href="/login">تسجيل دخول</a>
                    </li>
                <% } %>
                <li class="nav-item">
                    <a type="icon-menu" data-bs-toggle="offcanvas" data-bs-target="#mainOfcanvas" aria-controls="mainOfcanvas">
                        <style>
                            .icon-menu{
                                
                                color:var(--color2);
                                display: inline-block;
                                cursor: pointer;
                                overflow: hidden;
                                width: 60px;
                                height: 60px;
                                display: inline-block;
                            }
                            .icon-menu:hover{
                                border-radius: 0;
                                color: var(--color5);
                            }
                            @media (max-width: 575px) {
                                .icon-menu{

                                    display: none;
                                }
                            }
                        </style>
                        <div class="icon-menu">
                            <img src="images/icons8-menu-100.png" style="font-size: x-large;overflow: hidden;" class="icon-menu">
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<%- include("offcanvasMain.ejs") %>