
<div class="toast show" style="position: fixed;bottom: 10px;right: 10px;">
  <div class="toast-header" style="text-align: center;padding-right: 30px;">
    ملاحظة
    <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
  </div>
  <a href="https://buffetaccommodating.com/hkx8axvb8?key=baa4055c16c279de5b592d63225c45a2">
    <div class="toast-body">
        لاتنسى ان تسجل دخول في الموقع

    </div>
  </a>
</div>